@font-face {
font-family: "Code-Bold";
src: url("../fonts/Bold/Code-Bold.eot");
src: url('../fonts/Bold/Code-Bold.eot?#iefix') format('embeddedopentype'),
url("../fonts/Bold/Code-Bold.woff2") format("woff2"),
url("../fonts/Bold/Code-Bold.woff") format("woff"),
url("../fonts/Bold/Code-Bold.ttf") format("truetype"),
url("../fonts/Bold/Code-Bold.otf") format("opentype"),
url('../fonts/Bold/Code-Bold.svg#svgCode-Bold') format('svg');
font-style: normal;
font-weight: normal;
}
@font-face {
font-family: "Luuri";
src: url("../fonts/Luuri/Luuri.eot");
src: url('../fonts/Luuri.eot.eot?#iefix') format('embeddedopentype'),
url("../fonts/Luuri/Luuri.woff") format("woff"),
url("../fonts/Luuri/Luuri.woff2") format("woff2"),
url("../fonts/Luuri/Luuri.ttf") format("truetype"),
url("../fonts/Luuri/Luuri.otf") format("opentype"),
url('../fonts/Luuri/Luuri.svg#svgLuuri') format('svg');
font-style: normal;
font-weight: normal;
}
@font-face {
font-family: "Roboto Regular";
src: url("../fonts/RobotoRegular/Roboto-Regular.eot");
src: url('../fonts/RobotoRegular/Roboto-Regular.eot?#iefix') format('embeddedopentype'),
url("../fonts/RobotoRegular/Roboto-Regular.woff2") format("woff2"),
url("../fonts/RobotoRegular/Roboto-Regular.woff") format("woff"),
url("../fonts/RobotoRegular/Roboto-Regular.ttf") format("truetype"),
url("../fonts/RobotoRegular/Roboto-Regular.otf") format("opentype"),
url('../fonts/RobotoRegular/Roboto-Regular.svg#svgRoboto-Regular') format('svg');
font-style: normal;
font-weight: normal;
}
html{
padding-top: 8rem;
height: 100vh;
font-size: 16px;
overflow-y: hidden;
background-color: #000;
}
body {
max-width: 80rem;
margin:auto;
font-family: "Code-Bold";
height: 100vh;
background-image: url(../images/game_fieldbg.png);
background-position: center;
background-repeat: no-repeat;
background-size: contain;
display: flex;
}
#game_wrapper {
width: 80%;
margin:auto;
background-image: url(../images/game_board.png);
background-position: center bottom;
background-repeat: no-repeat;
background-size: contain;
}
#top_line {
width: 100%;
margin:auto;
position: relative;
z-index: 23;
min-height: 7.75rem;

}
.game_buttons {
font-family: "Roboto Regular";
margin: 1.5625rem auto;
position: relative;
font-size: 1.3rem;
color: #fff;
padding: 0.625rem;
width: 12.5rem;
overflow: hidden;
text-align: center;
cursor: pointer;
text-transform: none;
background-color: #3f8792;
outline: none;
border: 2px solid #91ebf8;
border-radius: 1rem;
display: block;
transition: all 0.5s ease-in-out;
}
.game_buttons:hover{
background-color: #2c5e66;
}
button.game_buttons[disabled] {
opacity: .7;
cursor: not-allowed;
}
.buttons_block {
position: absolute;
padding: 1.5rem;
z-index: 8;
top: 0;
left: 0;
z-index: 10;
}
#wheel {
width: 80%;
max-height: 26.25rem;
max-width: 26.875rem;
margin:auto;
display: block;
position: absolute;
top:-29%;
right: 0;
left: 0;
z-index: 3;
}
#numbers_field {
width: 42.0625rem;
height: 30.6875rem;
position: relative;
margin: auto;
z-index: 3;
}
.number_text,
.symbol_text{
text-align: center;
display: block;
line-height: 0;
}
.symbol_text{
font-family: "Luuri";
}
.number_text{
font-family: "Code-Bold"; 
}
.side { 
position: relative;
transition: all .3s ease;
display: block;
margin:auto;
backface-visibility: hidden; 
}
.back { 
position: absolute; 
top: 0;
bottom: 0;
left: 0;
right: 0;
}
.front
{ 
position: absolute; 
top: 0;
bottom: 0;
left: 0;
right: 0;
                       
-o-transform:      rotateY(180deg);                        
-webkit-transform: rotateY(180deg);  
-moz-transform:    rotateY(180deg);                       
transform:         rotateY(180deg);                        
}
.flip {    
                        
-o-transform:      rotateY(180deg);                        
-webkit-transform: rotateY(180deg); 
-moz-transform:    rotateY(180deg);                       
transform:         rotateY(180deg);  
} 
.item {
text-align: center;
margin:auto;
max-height: 5.75rem; 
height: 5.75rem;
width: 7.0625rem;
line-height: 5.75rem;
font-size: 3rem;
display: inline-block;
transition: all 4s ease;
transform-style: preserve-3d;
background-image: url(../images/coin.png);
background-position: center;
background-repeat: no-repeat;
background-size: contain;
z-index: 345;
max-width: 30%;
}
div.circle.bottom_line {
position: absolute;
bottom: 0;
left: 0;
}
.round {
width: 100%;
height: 100%;
display: block;
border-radius: 50%;
position: relative;
z-index: 344;
background-image: url(../images/spin.png);
background-repeat: no-repeat;
background-position: center;
background-size: contain;
margin-top: 1rem;
}
.top_round, 
.bottom_round{
height: 33%;
}
.center_round {
height: 33%;
box-sizing: border-box;
overflow-x: hidden;
margin:auto;
}
[id='0']{
position: absolute;
top: 3.5%;
left: 20%;	
}
[id='1']{
position: absolute;
top: 3.5%;
left: 39%;	
}
[id='2']{
position: absolute;
top: 3.5%;
left: 60%;	
}
[id='3']{
position: absolute;
top: 20%;
left: 80%;	
}
[id='4']{
position: absolute;
top: 43%;
left: 80%;	
}
[id='5']{
position: absolute;
top: 69%;
left: 80%;	
}
[id='6']{
position: absolute;
top: 79.5%;
left: 60%;	
}
[id='7']{
position: absolute;
top: 79.5%;
left: 39%;	
}
[id='8']{
position: absolute;
top: 79.5%;
left: 20%;	
}
[id='9']{
position: absolute;
top: 69%;
left: 3%;	
}
[id='10']{
position: absolute;
top: 43%;
left: 3%;	
}
[id='11']{
position: absolute;
top: 20%;
left: 3%;
}
#game_disabled_layout {
width: 100vw;
height: 100vh;
background-color: transparent;
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;
z-index: 9;
}
/*responsive styles*/
@media only screen and ( max-width: 1240px) {
html{
overflow-y: visible;
padding-top: 13rem;
}
body{
display: block;
background-image: none;
}
.buttons_block {
position: relative;
padding: 1.5rem;
}
}

@media only screen and ( max-width: 1024px) and(orientation:portrait){
#numbers_field {
height: 24.6875rem;
}
.item {
text-align: center;
margin:auto;
max-height: 4.2rem; 
height: 4.2rem;
line-height: 4.2rem;
font-size: 2.2rem;
}
#top_line {
margin-top: -1.5rem;
min-height: 3.9rem;

}
.round {
width: 73%;
height: 100%;
}
#wheel {
width: 73%;
max-width: 18rem;
margin-top: -10%;
}
[id='0']{
top: 2%;
left: 21%;	
}
[id='1']{
top: 2%;
left: 39%;	
}
[id='2']{
top: 2%;
left: 55%;	
}
[id='8']{
left: 21%;	
}
[id='7']{
left: 39%;	
}
[id='6']{
left: 55%;	
}
[id='3'],
[id='4'],
[id='5']{

left: 80%;	
}
[id='9'],
[id='10'],
[id='11']{

left: -2%;	
}
}
@media only screen and ( max-width: 991px){
html{
padding-top: 9rem;
}
#top_line {
width: 100%;
margin:auto;
position: absolute;
z-index: 23;
min-height: 5.75rem;
top: 9%;
right: 0;
left: 0;
}

[id='0']{
position: absolute;
top: 1%;
	
}
[id='1']{
position: absolute;
top: 1%;

}
[id='2']{
position: absolute;
top: 1%;
}

#numbers_field {
width: 60%;
height: auto;
min-height: 14.375rem;
}
.game_buttons {
font-size: 1.1rem;    
width: 11.875rem;
}
#wheel {
width: 66%;
top:-20%;
max-height: 22.25rem;
max-width: 22.875rem;
}
[id='0'],
[id='1'],
[id='2']
{
top: 11%;
}

#game_wrapper {
width: 100%;
margin: auto;
background-image: url(../images/game_board.png);
background-position: center bottom;
background-repeat: no-repeat;
background-size: contain;
}
#game_wrapper {
width: 100%;
}
#numbers_field {
width: 38.0625rem;
height: 28.6875rem;
position: relative;
margin: auto;
z-index: 3;
}
.item {
text-align: center;
margin:auto;
max-height: 5rem; 
height: 5rem;
line-height: 5rem;
font-size: 2.8rem;
}
}
@media only screen and ( max-width: 768px) and (orientation:portrait) {

#top_line {
min-height: 3rem;
}

.item{
max-height: 2.4rem; 
height: 2.4rem;
line-height: 2.4rem;
font-size: 1.2rem;
}
.game_buttons {
font-size: 1.1rem;    
width: 11.875rem;
}
#wheel {
width: 70%;
}
}
@media only screen and ( max-width: 768px) {
html{
padding-top: 9rem;
}
#game_wrapper {
width: 90%;
}
[id='4'],
[id='5'],
[id='3']
{
left: 70%;
}
[id='0'],
[id='1'],
[id='2']
{
top: 10%;
}
#numbers_field {
width: 95%;
width: 30.0625rem;
height: 20.6875rem;
}
.item {
text-align: center;
margin:auto;
max-height: 3.5rem; 
height: 3.5rem;
line-height: 3.5rem;
font-size: 2rem;
}
#top_line {
min-height: 4rem;
}
}
@media only screen and ( max-width: 767px) {
#numbers_field {
height: 24.6875rem;
}
.item {
text-align: center;
margin:auto;
max-height: 4.2rem; 
height: 4.2rem;
line-height: 4.2rem;
font-size: 2.2rem;
}
#top_line {
margin-top: -1.5rem;
min-height: 3.9rem;

}
.round {
width: 73%;
height: 100%;
}
#wheel {
width: 73%;
max-width: 18rem;
margin-top: -10%;
}
[id='0']{
top: 2%;
left: 21%;	
}
[id='1']{
top: 2%;
left: 39%;	
}
[id='2']{
top: 2%;
left: 55%;	
}
[id='8']{
left: 21%;	
}
[id='7']{
left: 39%;	
}
[id='6']{
left: 55%;	
}
[id='3'],
[id='4'],
[id='5']{

left: 80%;	
}
[id='9'],
[id='10'],
[id='11']{

left: -2%;	
}
}
@media only screen and ( max-width: 680px) {
html{
padding-top: 10.5rem;
}
#top_line {
min-height: 3.8rem;
margin-top: -1.5rem;
}

[id='3'],
[id='4'],
[id='5']{
left: 74%;	
}
[id='9'],
[id='10'],
[id='11']{
left: 2%;	
}

.item {
text-align: center;
margin:auto;
max-height: 3.6rem; 
height: 3.6rem;
line-height: 3.6rem;
font-size: 1.8rem;
}
#wheel {
width: 73%;
top:-17%;
max-height: 19.25rem;
max-width: 19.875rem;
}
#numbers_field {
width: 95%;
height: auto;
height: 22.375rem;
position: relative;
margin: auto;
z-index: 3;
}
.game_buttons {
font-size: 1.1rem;    
width: 11.875rem;
}
[id='0'],
[id='1'],
[id='2']{
top: 2%;
}
[id='3'],
[id='4'],
[id='5']{
left: 75%;	
}
[id='9'],
[id='10'],
[id='11']{
left: 3%;	
}
}

@media only screen and ( max-width: 543px) {
[id='0'],
[id='1'],
[id='2']{
top: 4%;
}

[id='0']{
left: 17%;
}
[id='1']{
left: 36%;
}

[id='2']{
left: 53%;
}

[id='8']{
left: 17%;
}
[id='7']{
left: 36%;
}

[id='6']{
left: 53%;
}

#top_line {
min-height: 3.9rem!important;
margin-top: -1.5rem;
}

#wheel {
width: 80%;
max-width: 15.25rem;
margin-top: -12%;
}
#numbers_field {

height: auto;
height: 19.375rem;
position: relative;
margin: auto;
z-index: 3;
}
.item {
text-align: center;
margin:auto;
max-height: 2.8rem; 
height: 2.8rem;
line-height: 2.8rem;
font-size: 1.3rem;
}
.game_buttons {
font-size: 1.1rem;    
width: 11.875rem;
}
[id='3'],
[id='4'],
[id='5']{
left: 73%;	
}
[id='9'],
[id='10'],
[id='11']{
left: 1%;	
}
}
@media only screen and ( max-width: 430px) {
#wheel {
width: 66%;
top:-31%;
max-height: 19.25rem;
max-width: 19.875rem;
}
[id='0'],
[id='1'],
[id='2']{
top: 6%;
}

[id='0']{
left: 17%;
}
[id='1']{
left: 36%;
}

[id='2']{
left: 53%;
}

[id='8']{
left: 17%;
}
[id='7']{
left: 36%;
}

[id='6']{
left: 53%;
}

#top_line {
min-height: 2.6rem;
margin-top: -1.5rem;
}

#wheel {
width: 80%;
max-width: 12.25rem;
margin-top: -2%;
}
#numbers_field {

height: auto;
height: 16.375rem;
position: relative;
margin: auto;
z-index: 3;
}
.item {
text-align: center;
margin:auto;
max-height: 2.5rem; 
height: 2.5rem;
line-height: 2.5rem;
font-size: 1.3rem;
}
.game_buttons {
font-size: 1.1rem;    
width: 11.875rem;
}
[id='3'],
[id='4'],
[id='5']{
left: 74%;	
}
[id='9'],
[id='10'],
[id='11']{
left: -5%;	
}
}

@media only screen and ( max-width: 300px) {
html{
	padding-top: 4rem;
}
#numbers_field {
width: 100%;
}
#top_line {
min-height: 2.2rem;
margin-top: 2.6rem;

}
.item {
min-height: 1.8rem; 
height: 1.8rem;
line-height: 1.8rem;
font-size: 0.9rem;
}
[id='0'],
[id='1'],
[id='2']{
top: 31%;
}

[id='6'],
[id='7'],
[id='8']{
top: 84%;
}
[id='11'],
[id='3']{
top: 43%;
}
[id='10'],
[id='4']{
top: 63%;
}
[id='9'],
[id='5']{
top: 80%;
}
[id='9'],
[id='10'],
[id='11']{
left: -3%;
}
[id='3'],
[id='4'],
[id='5']{
left: 73%;
}
#wheel {
width: 77%;
max-width: 9.25rem;
margin-top: 20%;
}

[id='3'],
[id='4'],
[id='5']{
left: 73%;	
}
[id='9'],
[id='10'],
[id='11']{
left: -5%;	
}
}
