@font-face {
font-family: "Code-Bold";
src: url("../fonts/Bold/Code-Bold.eot");
src: url('../fonts/Bold/Code-Bold.eot?#iefix') format('embeddedopentype'),
url("../fonts/Bold/Code-Bold.woff2") format("woff2"),
url("../fonts/Bold/Code-Bold.woff") format("woff"),
url("../fonts/Bold/Code-Bold.ttf") format("truetype"),
url("../fonts/Bold/Code-Bold.otf") format("opentype"),
url('../fonts/Bold/Code-Bold.svg#svgCode-Bold') format('svg');
font-style: normal;
font-weight: normal;
}
@font-face {
font-family: "Luuri";
src: url("../fonts/Luuri/Luuri.eot");
src: url('../fonts/Luuri.eot.eot?#iefix') format('embeddedopentype'),
url("../fonts/Luuri/Luuri.woff2") format("woff2"),
url("../fonts/Luuri/Luuri.woff") format("woff"),
url("../fonts/Luuri/Luuri.ttf") format("truetype"),
url("../fonts/Luuri/Luuri.otf") format("opentype"),
url('../fonts/Luuri/Luuri.svg#svgLuuri') format('svg');
font-style: normal;
font-weight: normal;
}
@font-face {
font-family: "Roboto Regular";
src: url("../fonts/RobotoRegular/Roboto-Regular.eot");
src: url('../fonts/RobotoRegular/Roboto-Regular.eot?#iefix') format('embeddedopentype'),
url("../fonts/RobotoRegular/Roboto-Regular.woff2") format("woff2"),
url("../fonts/RobotoRegular/Roboto-Regular.woff") format("woff"),
url("../fonts/RobotoRegular/Roboto-Regular.ttf") format("truetype"),
url("../fonts/RobotoRegular/Roboto-Regular.otf") format("opentype"),
url('../fonts/RobotoRegular/Roboto-Regular.svg#svgRoboto-Regular') format('svg');
font-style: normal;
font-weight: normal;
}
html{
padding-top: 8rem;
height: 100vh;
font-size: 16px;
overflow-y: hidden;
background-color: #000;
}
.game_set {
min-height: 80px;
}
body {
max-width: 80rem;
margin:auto;
font-family: "Code-Bold";
height: 100vh;
background-image: url(../images/game_fieldbg.png);
background-position: center;
background-repeat: no-repeat;
background-size: contain;
display: flex;
}
#game_wrapper {
width: 80%;
margin:auto;
background-image: url(../images/game_board.png);
background-position: center bottom;
background-repeat: no-repeat;
background-size: contain;

}
#top_line {
width: 100%;
margin:auto;
position: relative;
margin-top: 2rem;
z-index: 23;
min-height: 100px;
background-color: red;
}
.game_buttons {
font-family: "Roboto Regular";
margin: 25px auto;
position: relative;
font-size: 1.3rem;
color: #fff;
padding: 10px;
width: 12.5rem;
overflow: hidden;
text-align: center;
cursor: pointer;
text-transform: none;
background-color: #3f8792;
outline: none;
border: 2px solid #91ebf8;
border-radius: 1rem;
display: block;
transition: all 0.5s ease-in-out;
}
.game_buttons:hover{
background-color: #2c5e66;
}
button.game_buttons[disabled] {
opacity: .7;
cursor: not-allowed;
}
.buttons_block {
position: absolute;
padding: 1.5rem;
z-index: 8;
top: 0;
left: 0;
z-index: 10;
}
#wheel {
width: 80%;
max-height: 26.25rem;
max-width: 26.875rem;
margin:auto;
display: block;
position: absolute;
top:-29%;
right: 0;
left: 0;
z-index: 3;
}
#numbers_field {
width: 42.0625rem;
height: 30.6875rem;
position: relative;
margin: auto;
z-index: 3;
}
.number_text,
.symbol_text{
text-align: center;
display: block;
line-height: 0;
}
.symbol_text{
font-family: "Luuri";
}
.number_text{
font-family: "Code-Bold"; 
}
.side { 
position: relative;
transition: all .3s ease;
display: block;
margin:auto;
backface-visibility: hidden; 
}
.back { 
position: absolute; 
top: 0;
bottom: 0;
left: 0;
right: 0;
}
.front
{ 
position: absolute; 
top: 0;
bottom: 0;
left: 0;
right: 0;
-moz-transform:    rotateY(180deg);                        
-o-transform:      rotateY(180deg);                        
-webkit-transform: rotateY(180deg);                        
transform:         rotateY(180deg);                        
}
.flip {    
-moz-transform:    rotateY(180deg);                        
-o-transform:      rotateY(180deg);                        
-webkit-transform: rotateY(180deg);                        
transform:         rotateY(180deg);  
} 
.item {
text-align: center;
margin:auto;
max-height: 93px; 
height: 93px;
width: 93px;
line-height: 93px;
font-size: 3rem;
display: inline-block;
transition: all 2.3s ease;
transform-style: preserve-3d;
background-image: url(../images/coin.png);
background-position: center;
background-repeat: no-repeat;
background-size: contain;
z-index: 345;
max-width: 25%;
}
/*.circle {
position: relative;
max-height: 93px; 
min-height: 73px;  
box-sizing: border-box;
display: inline-block;
background-image: url(../images/coin.png);
background-position: center;
background-repeat: no-repeat;
background-size: contain;
line-height: 93px;
color: #fff;
text-align: center;
margin:auto;
font-size: 50px;
font-family: "Luuri";
display: inline-block;
}*/
div.circle.bottom_line {
position: absolute;
bottom: 0;
left: 0;
}
.round {
width: 100%;
height: 100%;
display: block;
border-radius: 50%;
position: relative;
z-index: 344;
background-image: url(../images/spin.png);
background-repeat: no-repeat;
background-position: center;
background-size: contain;
margin-top: 1rem;
}
.top_round, 
.bottom_round{
height: 33%;
}
.center_round {
height: 33%;
box-sizing: border-box;
overflow-x: hidden;
margin:auto;
}
/*.item.pos-0 {
position: absolute;
top: 3%;
left: 22%;
}
.item.pos-1 {
position: absolute;
top: 3%;
left: 45%;
}
.item.pos-2 {
position: absolute;
top: 3%;
left: 65%;
}
.item.pos-3 {
position: absolute;
top: 18%;
left: 80%;
}
.item.pos-4 {
position: absolute;
top: 41%;
left: 80%;
}
.item.pos-5 {
position: absolute;
top: 68%;
left: 80%;
}
.item.pos-6 {
position: absolute;
top: 77%;
left: 60%;
}
.item.pos-7 {
position: absolute;
top: 77%;
left: 43%;
}
.item.pos-8 {
position: absolute;
top: 77%;
left: 23%;
}
.item.pos-9 {
position: absolute;
top: 68%;
left: 5%;
}
.item.pos-10 {
position: absolute;
top: 41%;
left: 5%;
}
.item.pos-11 {
position: absolute;
top: 18%;
left: 5%;
}*/

[id='0']{
position: absolute;
top: 3%;
left: 22%;	
}
[id='1']{
position: absolute;
top: 3%;
left: 45%;	
}
[id='2']{
position: absolute;
top: 3%;
left: 65%;	
}
[id='3']{
position: absolute;
top: 18%;
left: 80%;	
}
[id='4']{
position: absolute;
top: 41%;
left: 80%;	
}
[id='5']{
position: absolute;
top: 68%;
left: 80%;	
}
[id='6']{
position: absolute;
top: 77%;
left: 60%;	
}
[id='7']{
position: absolute;
top: 77%;
left: 43%;	
}
[id='8']{
position: absolute;
top: 77%;
left: 23%;	
}
[id='9']{
position: absolute;
top: 68%;
left: 5%;	
}
[id='10']{
position: absolute;
top: 41%;
left: 5%;	
}
[id='11']{
position: absolute;
top: 18%;
left: 5%;
}



#game_disabled_layout {
width: 100vw;
height: 100vh;
background-color: transparent;
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;
z-index: 9;
}
/*responsive styles*/
@media only screen and ( max-width: 1024px) {
html{
overflow-y: visible;
}
.buttons_block {
position: relative;
padding: 1.5rem;
}
}
@media only screen and ( max-width: 991px){
body {
background-image: none;
}
#numbers_field {
width: 60%;
height: auto;
min-height: 330px;
}
.item {
text-align: center;
margin:auto;
max-height: 3.2rem; 
height: 3.2rem;
line-height: 3.2rem;
font-size: 1.7rem;
}
.item.pos-0,
.item.pos-1,
.item.pos-2{
top: 30%;
}
.item.pos-6,
.item.pos-7,
.item.pos-8{
top: 94%;
}
.item.pos-11,
.item.pos-10,
.item.pos-9
{
left: -5%;
}
.item.pos-4,
.item.pos-5,
.item.pos-3
{
left: 95%;
}
.game_buttons {
font-size: 1.1rem;    
width: 11.875rem;
}
#wheel {
width: 66%;
}
}
@media only screen and ( max-width: 768px)and (orientation:portrait) {
#numbers_field {
width: 95%;
height: auto;
min-height: 230px;
position: relative;
margin: auto;
z-index: 3;
}
.item {
text-align: center;
margin:auto;
max-height: 2.5rem; 
height: 2.5rem;
line-height: 2.5rem;
font-size: 1.3rem;
}
.item.pos-0,
.item.pos-1,
.item.pos-2{
top: 22%;
}
.item.pos-6,
.item.pos-7,
.item.pos-8{
top: 92%;
}
.item.pos-11,
.item.pos-10,
.item.pos-9
{
left: -5%;
}
.item.pos-4,
.item.pos-5,
.item.pos-3
{
left: 95%;
}
.game_buttons {
font-size: 1.1rem;    
width: 11.875rem;
}
#wheel {
width: 70%;
}
}
@media only screen and ( max-width: 768px) {
html {
padding-top: 2rem;
}
body {
display: block;
}	
#numbers_field {
width: 60%;
height: auto;
min-height: 250px;
}
.item.pos-11,
.item.pos-10,
.item.pos-9
{
left: -8%;
}
.item.pos-4,
.item.pos-5,
.item.pos-3
{
left: 92%;
}
}
@media only screen and ( max-width: 400px) {
body {
background-image: none;
}
#numbers_field {
width: 95%;
height: auto;
min-height: 230px;
position: relative;
margin: auto;
z-index: 3;
}
.item {
text-align: center;
margin:auto;
max-height: 2.5rem; 
height: 2.5rem;
line-height: 2.5rem;
font-size: 1.3rem;
}
.item.pos-0,
.item.pos-1,
.item.pos-2{
top: 22%;
}
.item.pos-6,
.item.pos-7,
.item.pos-8{
top: 92%;
}
.item.pos-11,
.item.pos-10,
.item.pos-9
{
left: -5%;
}
.item.pos-4,
.item.pos-5,
.item.pos-3
{
left: 95%;
}
.game_buttons {
font-size: 1.1rem;    
width: 11.875rem;
}
#wheel {
width: 70%;
}